<section class="container">

    <!-- Apartments -->
    <h2>{{ 'our apartments' | translate }}</h2>
    <mat-grid-list [cols]="responsiveBreakpoint" rowHeight="4:3" [gutterSize]="'10px'" (window:resize)="onResize($event)">
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/ap1.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/ap2.jpg');"></mat-grid-tile>
        <mat-grid-tile [colspan]="responsiveSpan" [rowspan]="responsiveSpan" style="background-image: url('../../../assets/images/properties/ap3.jpg');"></mat-grid-tile>
        <mat-grid-tile [colspan]="responsiveSpan" [rowspan]="responsiveSpan" style="background-image: url('../../../assets/images/properties/ap4.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/ap5.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/ap6.jpg');"></mat-grid-tile>
    </mat-grid-list>

    <!-- Houses -->
    <h2>{{ 'our houses' | translate }}</h2>
    <mat-grid-list [cols]="responsiveBreakpoint" rowHeight="4:3" [gutterSize]="'10px'" (window:resize)="onResize($event)">
        <mat-grid-tile [colspan]="responsiveSpan" [rowspan]="responsiveSpan" style="background-image: url('../../../assets/images/properties/house1.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/house2.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/house3.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/house4.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/house5.jpg');"></mat-grid-tile>
    </mat-grid-list>

    <!-- Lands -->
    <h2>{{ 'our lands' | translate }}</h2>
    <mat-grid-list [cols]="responsiveBreakpointLands" rowHeight="4:3" [gutterSize]="'10px'" (window:resize)="onResize($event)">
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/land1.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/land2.jpg');"></mat-grid-tile>
        <mat-grid-tile style="background-image: url('../../../assets/images/properties/land3.jpg');"></mat-grid-tile>
    </mat-grid-list>

</section>