.container{

    h2{
        text-align: center;
    }

    mat-grid-list{
        margin-bottom: 5rem;
        
        mat-grid-tile {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}