<header fxLayout fxLayoutAlign="space-between center" (window:resize)="onResize($event)">
    <img class="logo" [routerLink]="language + '/home'" src="../../../assets/images/logo_dark.svg" alt="CONDAP">

    <nav fxLayout fxLayoutAlign="none center" fxLayoutGap="4rem">
        <div class="menu" fxLayout fxLayoutGap="4rem" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
            *ngIf="!onMobile || (onMobile && navOpen)">
            <div class="main" fxLayout fxLayoutAlign="none center" fxLayoutGap="2rem" fxLayout.lt-md="column">
                <a [routerLink]="language + '/home'" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">{{ "home" | translate}}</a>
                <a [routerLink]="language + '/contact'" routerLinkActive="selected"
                    *ngIf="!inPortal || onMobile">{{ "contact" | translate}}</a>
                <a [routerLink]="language + '/portal/news'" routerLinkActive="selected"
                    *ngIf="inPortal">{{ "news" | translate}}</a>
                <a [routerLink]="language + '/portal/norms'" routerLinkActive="selected"
                    *ngIf="inPortal">{{ "norms" | translate}}</a>
            </div>

            <div class="account" fxLayout fxLayoutAlign="none center" fxLayoutGap="2rem" fxLayout.lt-md="column">
                <mat-icon class="icon" *ngIf="isAuthenticated && !onMobile" (click)="toggleNotifications()"
                    [matBadge]="notificationsCount" [matBadgeHidden]="notificationsCount == 0" matBadgePosition="before">notifications</mat-icon>
                <a [routerLink]="language + '/login'" routerLinkActive="selected"
                    *ngIf="!isAuthenticated">{{ "login" | translate}}</a>
                <mat-icon [routerLink]="language + '/portal'" class="icon" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}"
                    *ngIf="isAuthenticated" [matMenuTriggerFor]="logoutBtn">person</mat-icon>
                <mat-menu #logoutBtn="matMenu" xPosition="before">
                    <button (click)="logout()" mat-menu-item>{{ "logout" | translate}}</button>
                </mat-menu>
            </div>
        </div>
        <div class="lng" fxLayout fxLayoutAlign="none center" fxLayoutGap="1rem">
            <mat-icon (click)="toggleNotifications()" *ngIf="isAuthenticated && onMobile" class="icon"
                [matBadge]="notificationsCount" [matBadgeHidden]="notificationsCount == 0" matBadgePosition="before">notifications</mat-icon>
            <a (click)="changeLanguage()" style="cursor: pointer;">{{ (language == 'en') ? 'ES' : 'EN' }}</a>
            <mat-icon *ngIf="onMobile && !navOpen" class="icon" (click)="navOpen=true">menu</mat-icon>
            <mat-icon *ngIf="onMobile && navOpen" class="icon" (click)="navOpen=false">close</mat-icon>
        </div>
    </nav>
    <app-notification-panel *ngIf="showNotifications" (closePanelEvent)="showNotifications = false"></app-notification-panel>

</header>