@import "../../../_variables.scss";

header{
    width: 100%;
    height: 10vh;
    box-shadow: 0 1px 10px 0 rgb(0,0,0,0.5);
    padding: 0 5%;

    .logo{
        height: 60%;
        cursor: pointer;
    }
    
    nav{
        font-size: 1.1rem;
        position: relative;

        a{
            text-decoration: none;
            color: $text-color;
        }
        .selected{ color: $main-color; }

    }
}
app-notification-panel{
    position: absolute;
    z-index: 3;
    width: 22rem;
    right: 4%;
    top: 5.5rem;
}

.icon { cursor: pointer; width: auto; height: auto; }
mat-icon{font-size: 2rem; height: auto;}

@media screen and (max-width: 959px){
    header{
        height: 4rem;
        position: fixed;
        background-color: #fff;

        .menu{
            position: fixed;
            top: 4rem;
            left: 0;
            width: 100%;
            height: calc(100vh - 4rem);
            background-color: rgb(236, 236, 236);
        }

        app-notification-panel{
            top: 4.5rem;
        }
    }
}
@media screen and (max-width: 380px){
    app-notification-panel{
        width: 90vw;
    }
}