.modal-wrapper{
    width: 100%;
    height: 100%;
    overflow: auto;

    .file, .pdf{
        width: 100%;
        height: 100%;
        overflow: auto;

        .img{
            min-width: 100% !important;
            max-width: 200% !important;
            min-height: 100% !important;
            max-height: 200% !important;
            height: auto;
            width: auto;
        }
    }

    .file{
        position: relative;
        .pdf{ position: absolute; }
    }
}