<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <div fxLayout fxLayoutAlign="space-between center">
        <h3 fxLayoutAlign="none center">{{file.name}}</h3>
        <mat-icon style="font-size: 2rem; cursor: pointer;" (click)="close()">close</mat-icon>
    </div>
    <div class="file">
        <div *ngIf="file.type != 'pdf'" class="img">
            <img [src]="file.url" alt="">
        </div>
        <pdf-viewer *ngIf="file.type == 'pdf'" class="pdf" [src]="file.url"
            [render-text]="false"
            [original-size]="false">
        </pdf-viewer>
    </div>
</div>