<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <h3 fxLayoutAlign="center center" *ngIf="data.action == 'add'">{{ "add new property" | translate }}</h3>
    <form [formGroup]="propertyForm" fxLayout="column" fxLayoutGap="1.5rem">
        
        <div *ngIf="data.action == 'add' || editing" fxLayout="column" fxLayoutGap="1rem">
            <div>
                <label for="parcel_number">{{ "parcel number" | translate }}:</label>
                <input type="text" id="parcel_number" *ngIf="data.action == 'add' || editing" formControlName="parcel_number">
            </div>
            <div>
                <label for="block">{{ "block" | translate }}:</label>
                <input type="text" id="block" *ngIf="data.action == 'add' || editing" formControlName="block">
            </div>
        </div>
        <div *ngIf="data.action == 'view' && !editing">
            <label for="parcel_number">{{ "property number" | translate }}:</label>
            <p>{{property.parcel_number.toString().concat(property.block) | titlecase}}</p>
        </div>

        <div>
            <label for="type">{{ "type" | translate }}:</label>
            <select id="type" *ngIf="data.action == 'add' || editing" formControlName="type">
                <option *ngFor="let type of propertyTypes" [value]="type.name">{{type.name | titlecase}}</option>
            </select>
            <p *ngIf="data.action == 'view' && !editing">{{property.type.name | titlecase}}</p>
        </div>
        
        <div *ngIf="currentUser.role.name != 'landlord'">
            <label for="landlord">{{ "landlord" | translate }}:</label>
            <input *ngIf="data.action == 'add' || editing" type="text" id="landlord" [matAutocomplete]="landlordList" placeholder="email@example.com"
                formControlName="landlord">
            <mat-autocomplete #landlordList="matAutocomplete">
                <mat-option *ngFor="let option of filteredLandlords | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <div *ngIf="data.action == 'view' && !editing">
                <p class="selectable" (click)="openUser(property.landlord[0].id)" *ngIf="property.landlord.length > 0">{{property.landlord[0].first_name}} {{property.landlord[0].last_name}}</p>
                <p *ngIf="property.landlord.length == 0 || !property.landlord">-</p>
            </div>
        </div>

        <div *ngIf="data.action == 'view' && !editing">
            <label>{{ "tenants" | translate }}:</label>
            <div *ngIf="property.tenants.length > 0">
                <p class="selectable" (click)="openUser(tenant.id)" *ngFor="let tenant of property.tenants">{{tenant.first_name}} {{tenant.last_name}}</p>
            </div>
            <p *ngIf="property.tenants.length == 0 || !property.tenants">-</p>
        </div>

        <div *ngIf="data.action == 'view' && !editing">
            <label>{{ "occupants" | translate }}:</label>
            <div *ngIf="property.occupants.length > 0">
                <p class="selectable" (click)="openUser(occupant.id)" *ngFor="let occupant of property.occupants">{{occupant.first_name}} {{occupant.last_name}}</p>
            </div>
            <p *ngIf="property.occupants.length == 0 || !property.occupants">-</p>
        </div>

    </form>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" *ngIf="currentUser.role.name == 'admin'"
        fxLayout.lt-sm="column-reverse">
        <button class="primary-btn cancel" fxFlex="50" *ngIf="data.action == 'add' || editing" (click)="close()">
            {{ "cancel" | translate }}
            <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
        </button>
        <button class="primary-btn" fxFlex="50" *ngIf="data.action == 'add'" (click)="addProperty()">
            {{ "add" | translate }}
            <img src="../../../../../assets/images/icons/house_icon_light.png" alt="" class="icon">
        </button>
        <button class="primary-btn edit" fxFlex="50" *ngIf="data.action == 'view' && !editing" (click)="editing = true">
            {{ "edit" | translate }}
            <img src="../../../../../assets/images/icons/edit_icon_light.png" alt="" class="icon">
        </button>
        <button class="primary-btn edit" fxFlex="50" *ngIf="data.action == 'view' && editing" (click)="applyChanges()">
            {{ "apply" | translate }}
            <img src="../../../../../assets/images/icons/checkmark_icon_light.png" alt="" class="icon">
        </button>
        <button class="primary-btn" fxFlex="50" *ngIf="data.action == 'view' && !editing" (click)="deleteProperty()">
            {{ "delete" | translate }}
            <img src="../../../../../assets/images/icons/delete_icon_light.png" alt="" class="icon">
        </button>
    </div>
</div>