<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">

    <h3 fxLayoutAlign="center center">{{ "add new user" | translate }}</h3>
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1.5rem">
        <div>
            <label for="firstName">{{ "first name" | translate }}:</label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div>
            <label for="lastName">{{ "last name" | translate }}:</label>
            <input type="text" id="lastName" formControlName="lastName">
        </div>
        <div>
            <label for="dob">{{ "dob" | translate }}:</label>
            <input type="date" id="dob" formControlName="dob">
        </div>
        <div>
            <label for="ci">{{ "id number" | translate }}:</label>
            <input type="text" id="ci" formControlName="ci">
        </div>
        <div>
            <label for="phone">{{ "phone" | translate }}: </label>
            <input type="text" id="phone" formControlName="phone">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="role">{{ "role" | translate }}: </label>
            <select id="role" formControlName="role">
                <option *ngFor="let role of roles" [value]="role.name">{{role.name | titlecase}}</option>
            </select>
        </div>
        <div *ngIf="addUserForm.value.role == 'tenant' || addUserForm.value.role == 'occupant'">
            <label for="property">{{ "property" | translate }}:</label>
            <input type="text" id="property" formControlName="property"
                [matAutocomplete]="propertyList" placeholder="Property Number">
            <mat-autocomplete #propertyList="matAutocomplete">
                <mat-option *ngFor="let option of filteredProperties | async" [value]="option">{{option}}</mat-option>
            </mat-autocomplete>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
            <button type="button" class="primary-btn cancel" fxFlex="50" (click)="close()">
                {{ "cancel" | translate }}
                <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button type="submit" class="primary-btn" fxFlex="50">
                {{ "add" | translate }}
                <img src="../../../../../assets/images/icons/user_icon.png" alt="" class="icon">
            </button>
        </div>
    </form>
    
</div>