<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <h3 fxLayoutAlign="center center">{{data.message}}</h3>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <button class="primary-btn cancel" fxFlex="50" (click)="close('cancel')">
            {{ 'cancel' | translate }}
        </button>
        <button class="primary-btn" fxFlex="50" (click)="close('confirm')">
            {{ 'confirm' | translate }}
        </button>
    </div>
</div>