.image-proof{
    width: 50rem;
    height: 50rem;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

}
.pdf{
    width: 100%;
    height: 100%;
    position: absolute;
}

.files-list{
    width: 100%;
    height: 17rem !important;
    padding: 1rem .5rem !important;
    overflow-x: auto !important;

    .file-card{
        min-width: 13rem;
        height: 100%;
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);
        border-radius: .5rem;
        cursor: pointer;
        overflow: hidden;

        .image-holder{
            width: 100%;
            height: 85%;
        }
        .file-name{
            font-weight: bold;
        }
    }
}