<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <div fxLayout fxLayoutAlign="space-between end">
        <div fxLayout="column">
        <h3 fxLayoutAlign="center center">{{ "proof of payment" | translate }}</h3>
            <div>
                <p>{{ "property" | translate }}: {{payment.property.parcel_number}}{{payment.property.block}}</p>
                <p>{{ "period" | translate }}: {{payment.start_date | date: 'MM/yyyy'}} - {{payment.end_date | date: 'MM/yyyy'}}</p>
                <b *ngIf="payment.status.name == 'rejected' && payment.message">Rejected reason: {{payment.message}}</b>
            </div>
        </div>
    </div>

    <div class="files-list" fxLayout fxLayoutGap="1rem" *ngIf="!fetchingFile">
        <div *ngFor="let file of files" class="file-card" (click)="openPaymentRefenceFile(file)">
            <div class="image-holder">
                <img 
                    *ngIf="file.type != 'pdf'" 
                    [src]="file.url" alt="">
                <pdf-viewer 
                    *ngIf="file.type == 'pdf'"
                    class="pdf" [src]="file.url" 
                    [render-text]="false"
                    [show-all]="false"
                    [page]="1"
                    [original-size]="false"
                    [zoom-scale]="'page-fit'">
                </pdf-viewer>
            </div>
            <div fxLayout fxLayoutAlign="space-between center" style="height: 15%; padding: 0 1rem;">
                <p class="file-name">{{file.name}}</p>
                <mat-icon *ngIf="file.seen">visibility</mat-icon>
            </div>
        </div>
    </div>
    
    <section fxLayoutAlign="center center" *ngIf="fetchingFile">
        <mat-spinner></mat-spinner>
    </section>

    <div *ngIf="currentUser.role.name == 'admin'" fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem"
        fxLayout.lt-sm="column">
        <button class="primary-btn approve" fxFlex="50" (click)="approvePayment()">
            {{ "approve" | translate }}
            <img src="../../../../../assets/images/icons/checkmark_icon_light.png" alt="">
        </button>
        <button class="primary-btn" fxFlex="50" (click)="rejectPayment()">
            {{ "reject" | translate }}
            <img src="../../../../../assets/images/icons/cancel_icon.png" alt="">
        </button>
    </div>
   
</div>