@import '../variables';

.wrapper {
    min-height: 100vh;

    app-header{ width: 100%; }
}
main{
    z-index: 1;

    .payment-alert{
        position: fixed;
        width: 5rem;
        height: 7rem;
        top: 25%;
        right: 0;
        background-color: $main-color;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        mat-icon{
            color: #fff;
            font-size: 3rem;
            width: auto;
            height: auto;
        }
    }
}
.warning-message{
    margin-right: 2rem !important;
    font-size: 1.5rem;
    width: auto !important;
    background: rgb(124, 124, 124) !important;
    padding: 1rem !important;
}

@media screen and (max-width: 959px){
    app-header{z-index: 2;}
    main{margin-top: 4rem;}
}