<div class="wrapper" fxLayout="column">
    <app-header [language]="language"></app-header>
    <main fxFlex="100">
        <router-outlet></router-outlet>
        <div *ngIf="showWarning" class="payment-alert" fxLayout fxLayoutAlign="center center">
            <mat-icon matTooltip="You are behind with payments!"
                matTooltipPosition="left" matTooltipHideDelay="5000"
                matTooltipClass="warning-message">warning</mat-icon>
        </div>
    </main>
    <app-footer></app-footer>
</div>