@import '../../../../variables';

.notification-panel{
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.35);

    .header{
        background-color: $main-color;
        padding: 1.5rem 0;
        color: #fff;
        text-align: center;
        position: relative;

        .pointer{
            width: 2rem;
            height: 2rem;
            position: absolute;
            background-color: $main-color;
            top: -.5rem;
            left: calc(50% - 1rem);
            transform: rotate(45deg);
            z-index: 0;
        }
    }
    .list{
        .notification{
            padding: .5rem 1rem 1.5rem 1rem;
            border-bottom: 1px solid #D3D1D1;

            .title{
                font-weight: 600;
                padding-left: 1rem;
            } 
        }
        .unseen{
            // background-color: #F6E0E8;
            background-color: #fff4f8;
            
            .indicator{
                width: .5rem;
                height: .5rem;
                position: relative;
                border-radius: 50%;
                background-color: $main-color;
            }
        }
    }
    .no-notifications{
        padding: 4rem 0;
        text-align: center;
        color: #9c9c9c;
        font-weight: 300;
        border-bottom: 1px solid #D3D1D1;
    }
    .new-notification{
        padding: 1rem;
        border-bottom: 1px solid #D3D1D1;
        &:hover{ 
            background-color: #dddddd; 
            cursor: pointer; 
        }
    }
    .controls{
        padding: 1.5rem;
        p { cursor: pointer; }
    }
}