<div class="notification-panel">
    <div class="header">
        <div class="pointer" fxHide.lt-md></div>
        <p class="noselect">{{ "notifications" | translate }}</p>
    </div>
    <div class="list" *ngIf="latestNotifications.length > 0 && !IsFetching">
        <div *ngFor="let item of latestNotifications" class="notification unseen">
            <div class="helpers" fxLayout fxLayoutAlign="space-between center">
                <div *ngIf="!item.seen_state" class="indicator"></div>
                <mat-icon (click)="markAsSeen(item)" style="cursor: pointer;">close</mat-icon>
            </div>
            <p class="title">{{item.title}}</p>
        </div>
    </div>

    <div class="no-notifications" *ngIf="latestNotifications.length == 0 && !IsFetching">{{ "no unread notifications" | translate }}</div>
    <div class="no-notifications" *ngIf="IsFetching" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
    
    <div *ngIf="loggedUser?.role?.name == 'admin'" class="new-notification" fxLayout fxLayoutAlign="none center"
        (click)="openNotificationPanel()">
        <mat-icon>add</mat-icon>
        {{ "create notification" | translate }}
    </div>

    <div class="controls" fxLayout fxLayoutAlign="space-between center">
        <p class="link" [routerLink]="language + '/portal/notifications'" (click)="closePanel()">{{ "see all" | translate }}</p>
        <p (click)="markAllAsSeen()">{{ "mark all as seen" | translate }}</p>
    </div>
</div>