<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">

    <form [formGroup]="updateUserForm" (ngSubmit)="applyChanges()" fxLayout="column" fxLayoutGap="2rem">
        <div fxLayout fxLayoutGap="2rem" fxLayoutAlign="none center" fxLayout.lt-sm="column" 
            fxLayoutAlign.lt-sm="none none">
            <div fxLayout.lt-sm="column" fxLayoutAlign="center center">
                <div class="img-holder" fxLayoutAlign="center center">
                    <img [src]="image$ | async" alt="">
                </div>
                <p *ngIf="!user.active" class="user-status inactive">Inactive</p>
            </div>
            <div class="name-data" fxLayout="column" fxLayoutGap="1rem">
                <div>
                    <label for="firstName">{{ "first name" | translate }}:</label>
                    <input type="text" id="firstName" *ngIf="editing" formControlName="firstName">
                    <p *ngIf="!editing">{{user.first_name}}</p>
                </div>
                <div>
                    <label for="lastName">{{ "last name" | translate }}:</label>
                    <input type="text" id="lastName" formControlName="lastName" *ngIf="editing">
                    <p *ngIf="!editing">{{user.last_name}}</p>
                </div>
                <div *ngIf="currentUser.role.name == 'admin' || currentUser.role.name == 'landlord'">
                    <label for="dob">{{ "dob" | translate }}:</label>
                    <input type="text" id="dob" formControlName="dob" *ngIf="editing">
                    <p *ngIf="!editing">{{user.dob | date: 'dd-MM-yyyy'}}</p>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="1rem">
            <div *ngIf="currentUser.role.name == 'admin' || currentUser.role.name == 'landlord'">
                <label for="ci">{{ "id number" | translate }}:</label>
                <input type="text" id="ci" formControlName="ci" *ngIf="editing">
                <p *ngIf="!editing">{{user.ci}}</p>
            </div>
            <div>
                <label for="phone">{{ "phone" | translate }}:</label>
                <input type="text" id="phone" formControlName="phone" *ngIf="editing">
                <p *ngIf="!editing">{{user.phone}}</p>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" formControlName="email" *ngIf="editing">
                <p *ngIf="!editing">{{user.email}}</p>
            </div>
            <div *ngIf="currentUser.role.name != 'tenant' && currentUser.role.name != 'occupant'">
                <label for="role">{{ "role" | translate }}:</label>
                <select id="role" formControlName="role" *ngIf="editing">
                    <option *ngFor="let role of roles" [value]="role.name">{{role.name | titlecase}}</option>
                </select>
                <p *ngIf="!editing">{{user.role.name | titlecase}}</p>
            </div>
            <div *ngIf="currentUser.role.name == 'admin' || currentUser.role.name == 'landlord'">
                <label for="property">{{ "properties" | translate }}:</label>
                <div *ngIf="user.role.name == 'landlord' && !editing">
                    <div *ngIf="user.properties?.length > 0; else no_prop">
                        <p class="selectable" (click)="openProperty(prop.id)" *ngFor="let prop of user.properties">{{prop.parcel_number.toString().concat(prop.block) | titlecase}}</p>
                    </div>
                    <ng-template *ngIf="!editing" #no_prop>-</ng-template>
                </div>
                <div *ngIf="(updateUserForm.value.role == 'tenant' || updateUserForm.value.role == 'occupant') && !editing">
                    <p class="selectable" (click)="openProperty(user.property[0].id)" *ngIf="user?.property?.length > 0">{{user.property[0]?.parcel_number.toString().concat(user.property[0]?.block) | titlecase}}</p>
                    <p *ngIf="user?.property?.length == 0">-</p>
                </div>
                <div *ngIf="editing && (updateUserForm.value.role == 'tenant' || updateUserForm.value.role == 'occupant')">
                    <input type="text" id="property" formControlName="property"
                        [matAutocomplete]="propertyList" placeholder="Property Number">
                    <mat-autocomplete #propertyList="matAutocomplete">
                        <mat-option *ngFor="let option of filteredProperties | async" [value]="option">{{option}}</mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" *ngIf="currentUser.role.name == 'admin'">
            <button *ngIf="!editing && user.active" type="button" class="primary-btn edit" fxFlex="50" (click)="startEdit()">
                {{ "edit" | translate }}
                <img src="../../../../../assets/images/icons/edit_icon_light.png" alt="" class="icon">
            </button>
            <button *ngIf="editing" type="submit" class="primary-btn edit" fxFlex="50">
                {{ "apply" | translate }}
                <img src="../../../../../assets/images/icons/checkmark_icon_light.png" alt="" class="icon">
            </button>
            <button type="button" class="primary-btn" *ngIf="!editing && user.active" fxFlex="50" (click)="makeInactive('Make this user inactive?')">
                Deactivate
                <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button type="button" class="primary-btn status-change" *ngIf="!editing && !user.active" fxFlex="50" (click)="makeActive('Make this user active again?')">
                {{ "restore" | translate }}
                <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button type="button" class="primary-btn" *ngIf="!editing && !user.active" fxFlex="50" (click)="deleteUser('Delete this user permanently?')">
                {{ "delete" | translate }}
                <img src="../../../../../assets/images/icons/delete_icon_light.png" alt="" class="icon">
            </button>
            <button type="button" class="primary-btn cancel" *ngIf="editing" fxFlex="50" (click)="cancelEdit()">
                {{ "cancel" | translate }}
                <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
        </div>
    </form>
    
</div>