@import "../../../../../variables";

form{
    .img-holder{
        width: 10rem;
        position: relative;

        &::after{
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    .name-data{
        min-width: 15rem !important;
    }
    p{
        font-size: 1.5rem;
    }
    .user-status{ text-align: center; }
    .active{ color: $status-clear; }
    .inactive{ color: $status-missing; }
}