<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <h3 fxLayoutAlign="center center">{{ "upload new proof of payment" | translate }}</h3>
    <form [formGroup]="uploadPaymentForm" (ngSubmit)="submitProof()" fxLayout="column" fxLayoutGap="1.5rem">

        <div>
            <label for="property">{{ "property" | translate }}:</label>
            <input type="text" id="property" [matAutocomplete]="propertyList" placeholder='{{ "enter address" | translate }}' formControlName="property">
            <mat-autocomplete #propertyList="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </div>

        <div>
            <label>{{ "choose a date" | translate }}</label>
            <ejs-daterangepicker #date 
                [start]='start' [format]="format" [depth]='depth'
                [min]='minDate'
                formControlName="date">
            </ejs-daterangepicker>
        </div>

        <div>
            <label for="image">{{ "upload proof" | translate }}:</label>
            <div (click)="uploader.click()" class="upload" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <div *ngIf="this.filesToUpload.length == 0" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/icons/uplaod_to_cloud_icon.png" alt="">
                    <p class="type-of-files">.PDF .JPG .PNG</p>
                </div>
                <p class="link">{{ "choose a file" | translate }}</p>

                <div *ngIf="filesToUpload.length > 0" fxLayout="column">
                    <b *ngFor="let item of filesToUpload">{{item.name}}</b>
                </div>
            </div>
            <p class="link" *ngIf="filesToUpload.length > 0" (click)="reset()">Reset</p>
            <input id="image" type="file" [hidden]="true" formControlName="image" multiple #uploader (change)="handleFile($event)">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" fxLayout.lt-sm="column-reverse">
            <button class="primary-btn cancel" fxFlex="50" type="button" (click)="close()">
                {{ "cancel" | translate }}
                <img src="../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button class="primary-btn" fxFlex="50" type="submit">
                {{ "upload" | translate }}
                <img src="../../../../assets/images/icons/upload_icon.png" alt="" class="icon">
            </button>
        </div>
    </form>
   
</div>