<section class="contact" fxLayout fxLayout.lt-md="column">
    <div class="info" fxLayout="column" fxLayoutAlign="center center">
        <div class="info-item" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/images/icons/phone_icon.png" alt="">
            <p class="action">{{ 'call us' | translate }}</p>
            <p>+593 123 456 789</p>
        </div>
        <div class="info-item" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/images/icons/mail_icon.png" alt="">
            <p class="action">{{ 'mail us' | translate }}</p>
            <p><a href="mailto:info@condap.com" class="link">info@condap.com</a></p>
        </div>
        <div class="info-item" fxLayout="column" fxLayoutAlign="center center">
            <img src="../../../assets/images/icons/location_icon.png" alt="">
            <p class="action">{{ 'location' | translate }}</p>
            <p><a href="" class="link">José de Villalengua 789,<br>Quito 170102, Ecuador</a></p>
        </div>
    </div>
    <div class="contact-form" fxLayout="column" fxLayoutAlign="center none">
        <h4>{{ 'send us email' | translate }}</h4>
        <form>
            <div>
                <label for="">{{ 'your name' | translate }}:</label>
                <input type="text">
            </div>
            <div>
                <label for="">{{ 'your email' | translate }}:</label>
                <input type="email">
            </div>
            <div>
                <label for="">{{ 'your message' | translate }}:</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <button class="primary-btn">
                {{ 'send' | translate }}
                <img src="../../../assets/images/icons/send_icon.png" alt="">
            </button>
        </form>
    </div>
</section>
<section class="map">
    <agm-map [zoom]="15" [latitude]="-0.171810" [longitude]="-78.484940">
        <agm-marker [latitude]="-0.171810" [longitude]="-78.484940"></agm-marker>
    </agm-map>
</section>
