.contact{
    width: 100%;
    height: 90vh;

    .info{
        width: 35%;
        
        .info-item{
            width: 100%;
            margin: 6% 0;
            
            img{
                width: 8%;
                margin-bottom: 1%;
            }
            .action{
                font-size: 1.2rem;
                font-weight: 600;
            }
        }
    }

    .contact-form{
        height: 100%;
        width: 65%;
        background-color: rgb(0, 0, 0, .9);
        padding: 0 10%;
        color: #fff;
        background: url("../../../assets/images/contact-bg.jpg");
        background-size: cover;
        background-position: center;
        
        form{ width: 100%; }
        div{ margin: 2% 0; }
        input,textarea{
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
        }
    }
}
.map{
    height: 35vh;
    agm-map{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 959px){
    .contact{
        height: calc(100vh - 4rem);
        .info{
            width: 100%;
            padding: 3rem 0;
        }
        .contact-form{
            width: 100%;
            min-height: 100%;
            padding: 2rem;
        }
    }
    .map{
        margin-top: 90%;
    }
}
@media screen and (max-width: 700px){
    .map{
        margin-top: 100%;
    }
}
@media screen and (max-width: 500px){
    .map{
        margin-top: 115%;
    }
}