<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <h3 fxLayoutAlign="center center">Enter a reason for rejection</h3>

    <form [formGroup]="rejectPaymentReasonForm" fxLayout="column" fxLayoutGap="1.5rem">
        <div>
            <label for="message">{{ "message" | translate }}:</label>
            <input type="text" id="message" formControlName="message">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
            <button class="primary-btn cancel" fxFlex="50" type="button" (click)="close()">
                {{ "cancel" | translate }}
            </button>
            <button class="primary-btn" fxFlex="50" type="button" (click)="reject()">
                {{ "reject" | translate }}
            </button>
        </div>
    </form>

</div>