<section>
    <form action="" fxLayout="column" fxLayoutGap="1.5rem">
        <div fxLayout="column" fxLayoutGap=".5rem">
            <label for="">{{ 'your message' | translate }}</label>
            <textarea name="" id="" cols="30" rows="6"></textarea>
        </div>
        <button class="primary-btn">
            {{ 'send' | translate }} 
            <img src="../../../../assets/images/icons/send_icon.png">
        </button>
    </form>
</section>
