<section fxLayout="column" fxLayoutGap="3rem" *ngIf="!IsFetching">
    <div class="add-search" fxLayout="row" fxLayoutAlign="space-between center">
        <button class="float-btn" (click)="openUploadPaymentModal()">
            <img src="../../../../assets/images/icons/add_icon.png" alt="" class="icon">
            {{ "upload new payment" | translate }}
        </button>
        <input type="text" class="search" [(ngModel)]="payFilter" autocomplete="off" placeholder='{{ "search all payments" | translate }}'>
    </div>

    <div class="table" fxLayout="column">

        <div class="result-row table-header" fxLayout fxLayoutAlign="space-between center" fxLayoutGap=".5rem">
            <p fxFlex="40" style="padding-left: 3.25rem;" (click)="sort('id')" fxLayout fxLayoutAlign="none center">
                {{ "reference name" | translate }}
                <app-sort-indicator *ngIf="sortBy=='id'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="10" (click)="sort('date')" fxLayout fxLayoutAlign="none center">
                {{ "date" | translate }}
                <app-sort-indicator *ngIf="sortBy=='date'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="20" (click)="sort('name')" fxLayout fxLayoutAlign="none center">
                {{ "user" | translate }}
                <app-sort-indicator *ngIf="sortBy=='name'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="10" (click)="sort('property')" fxLayout fxLayoutAlign="none center">
                {{ "property" | translate }}
                <app-sort-indicator *ngIf="sortBy=='property'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="10" (click)="sort('status')" fxLayout fxLayoutAlign="none center">
                {{ "status" | translate }}
                <app-sort-indicator *ngIf="sortBy=='status'" [isAscending]="asc"></app-sort-indicator>
            </p>
        </div>

        <div class="list" fxLayout="column" fxLayoutGap=".5rem">

            <div *ngFor="let payment of payments | filter:payFilter | paginate: { itemsPerPage: 25, currentPage: page }" class="result-row" fxLayout fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0.5rem">
                <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex="40">
                    <img src="../../../../assets/images/icons/document_icon.png" alt="" class="icon">
                    <p class="selectable" (click)="openViewPaymentModal(payment)">{{payment.property.parcel_number}}{{payment.property.block}} - {{payment.start_date | date: 'MM/yyyy'}} - {{payment.end_date | date: 'MM/yyyy'}}
                    </p>
                </div>
                <p fxFlex="10">{{payment.created_at | date: 'dd.MM.yyyy'}}</p>
                <p fxFlex="20" class="selectable" (click)="openUserModal(payment.user.id)">{{payment.user.first_name}} {{payment.user.last_name}}</p>
                <p fxFlex="10" class="selectable">{{payment.property.parcel_number}}{{payment.property.block}}</p>

                <div *ngIf="payment.status.name == 'approved'" class="status clear" fxFlex="10" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator clear"></div>
                    <p class="selectable" (click)="downloadReceipt(payment)">{{ "receipt" | translate }}</p>
                </div>
                <div *ngIf="payment.status.name == 'pending'" class="status pending" fxFlex="10" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator pending"></div>
                    <p class="selectable">{{ "pending" | translate }}</p>
                </div>
                <div *ngIf="payment.status.name == 'rejected'" class="status missing" fxFlex="10" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator missing"></div>
                    <p class="selectable">{{ "rejected" | translate }}</p>
                </div>
            </div>
            <pagination-controls fxLayoutAlign="end end" id="payments" (pageChange)="page = $event" autoHide="true" class="pagination"></pagination-controls>
            
        </div>
    </div>
</section>

<section fxLayoutAlign="center center" *ngIf="IsFetching">
    <mat-spinner></mat-spinner>
</section>