@import "../../../../_variables.scss";

.mat-expansion-panel-header,
.mat-expansion-panel-header:hover {
  background-color: #f5dde5 !important;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #f5dde5 !important;
}