<section fxLayout="column" fxLayoutGap="3rem" *ngIf="!IsFetching">
    <div class="add-search" fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="currentUser.role.name != 'admin'"></div>
        <button class="float-btn" (click)="openAddUserModal()" *ngIf="currentUser.role.name == 'admin'">
            <img src="../../../../assets/images/icons/add_icon.png" alt="" class="icon">
            {{ "add new user" | translate }}
        </button>
        <input type="text" class="search" [(ngModel)]="userFilter" autocomplete="off" placeholder='{{ "search all users" | translate }}'>
    </div>

    <div fxLayout="column" class="table">

        <div class="result-row table-header" fxLayout fxLayoutAlign="space-between center" fxLayoutGap=".5rem">
            <p fxFlex="30" style="padding-left: 3.25rem;" (click)="sort('name')" fxLayout fxLayoutAlign="none center">
                {{ "name" | translate }}
                <app-sort-indicator *ngIf="sortBy=='name'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="30" (click)="sort('phone')" fxLayout fxLayoutAlign="none center">
                {{ "phone" | translate }}
                <app-sort-indicator *ngIf="sortBy=='phone'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="30" (click)="sort('email')" fxLayout fxLayoutAlign="none center">
                Email
                <app-sort-indicator *ngIf="sortBy=='email'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="10" (click)="sort('role')" fxLayout fxLayoutAlign="none center">
                {{ "role" | translate }}
                <app-sort-indicator *ngIf="sortBy=='role'" [isAscending]="asc"></app-sort-indicator>
            </p>
        </div>

        <div class="list" fxLayout="column" fxLayoutGap=".5rem">
            <div class="result-row" *ngFor="let user of users | userStatusPipe: true | filter:userFilter | paginate: { id: 'active', itemsPerPage: 25, currentPage: page }" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=".5rem" fxLayoutGap.lt-md="0.5rem">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex="30">
                    <img src="../../../../assets/images/icons/user_icon_dark.png" alt="" class="icon">
                    <p class="selectable" (click)="openViewEditModal(user)">{{user.first_name}} {{user.last_name}}</p>
                </div>
                <p fxFlex="30">{{user.phone}}</p>
                <p fxFlex="30"><a [href]="'mailto:' + user.email" class="link text-color selectable">{{user.email}}</a></p>
                <p fxFlex="10">{{user.role.name | titlecase}}</p>
            </div>
            <pagination-controls fxLayoutAlign="end end" id="active" (pageChange)="page = $event" autoHide="true" class="pagination"></pagination-controls>
        </div>
    </div>

    <mat-expansion-panel *ngIf="currentUser.role.name == 'admin'" class="table">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ "inactive users" | translate }} ({{inactiveUsersLength}})</mat-panel-title>
            <mat-panel-description>{{ "click to see inactive users" | translate }}</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="list" fxLayout="column" fxLayoutGap=".5rem">
            <div class="result-row" *ngFor="let user of users | userStatusPipe: false | paginate: { id: 'inactive', itemsPerPage: 25, currentPage: page }" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap=".5rem">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex="30">
                    <img src="../../../../assets/images/icons/user_icon_dark.png" alt="" class="icon">
                    <p class="selectable" (click)="openViewEditModal(user)">{{user.first_name}} {{user.last_name}}</p>
                </div>
                <p fxFlex="30">{{user.phone}}</p>
                <p fxFlex="30"><a [href]="'mailto:' + user.email" class="link text-color selectable">{{user.email}}</a></p>
                <p fxFlex="10">{{user.role.name | titlecase}}</p>
            </div>
            <pagination-controls fxLayoutAlign="end end" id="inactive" (pageChange)="page = $event" autoHide="true" class="pagination"></pagination-controls>
        </div>
    </mat-expansion-panel>
</section>

<section fxLayoutAlign="center center" *ngIf="IsFetching">
    <mat-spinner></mat-spinner>
</section>