<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">
    <h3 fxLayoutAlign="center center">{{ "change password" | translate }}</h3>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1.5rem">
        <div>
            <label for="oldPassword">{{ "old password" | translate }}:</label>
            <input type="password" id="oldPassword" formControlName="oldPassword">
        </div>
        <div>
            <label for="newPassword">{{ "new password" | translate }}:</label>
            <input type="password" id="newPassword" formControlName="newPassword">
        </div>
        <div>
            <label for="confirmPassword">{{ "confirm new password" | translate }}:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem"
            fxLayout.lt-sm="column-reverse">
            <button type="button" class="primary-btn cancel" fxFlex="50" fxFlex.lt-sm="100" (click)="close()"
                fxLayoutGap="1rem">
                <p>{{ "cancel" | translate }}</p>
                <mat-icon>block</mat-icon>
            </button>
            <button type="submit" class="primary-btn" fxFlex="50" fxFlex.lt-sm="100" fxLayoutGap="1rem">
                <p>{{ "update" | translate }}</p>
                <mat-icon class="material-icons-outlined">lock</mat-icon>
            </button>
        </div>
    </form>
</div>