@import "../../../variables";

.presentation{
    height: 90vh;
    background-image: url("../../../assets/images/bg.jpg");
    background-size: cover;
    background-position: center;

    .shade{
        width: 40%;
        height: 100%;
        background-color: rgb(38, 38, 38, .95);
        color: rgb(185, 185, 185);

        .content{
            width: 60%;
            height: 100%;
            margin-left: 20%;
            
            h1{
                color: $main-color;
                font-size: 3em;
                font-weight: 400;
            }
            p{
                font-size: 2em;
            }
            button{
                margin-top: 1rem;
                padding: 20px 50px;
            }
        }
    }
}

.about{
    img{
        object-fit: contain;
    }
    p{
        text-align: justify;
    }
}

.gallery{
    margin-bottom: 3%;
    height: 70vh;
    position: relative;

    .title-header{
        width: 100%;
        height: 25vh;
        background: url("../../../assets/images/gallery-bg.jpg") no-repeat center;
        background-size: cover;
        position: absolute;
    }
    .content{
        position: absolute;
        top: 28%;
    }
    .img-list{
        margin-bottom: 7rem;

        img{
            width: 25%;
        }
        .main{
            transform: scale(1.3);
        }
    }
}

.location{
    background: url(.././../../assets/images/location-bg.jpg) no-repeat center;
    background-size: cover;

    .map{
        width: 100%;
        min-height: 30vh;
        background-color: #999;
        agm-map{
            width: 100%;
            height: 100%;
        }
    }
    p{
        color: #fff;
        text-align: justify;
    }
}

@media screen and (max-width: 1100px) {
    .shade{
        width: 60% !important;
    }
}
@media screen and (max-width: 959px) {
    .shade{
        width: 100% !important;

        .content{
            width: 100% !important;
            margin: 0 !important;
            text-align: center;
            padding: 1rem;
        }
    }
    .gallery{
        height: auto;
        .title-header{
            height: 10rem;
        }
        .title-header, .content{
            position: relative;
        }
        .img-list{
            margin-bottom: 2rem;
            img{width: 70%;}
            .main{transform: scale(1);}
        }
    }
    agm-map{
        width: 100% !important;
        height: 30vh !important;
    }
}
@media screen and (max-width: 959px) {
    .presentation{
        height: calc(100vh - 4rem);
        font-size: .8rem;
        button{padding: 15px 35px !important;}
    }
}
@media screen and (max-width: 600px) {
    .presentation{
        font-size: .75rem;
    }
    .gallery{margin-bottom: 3rem;}
    .img-list{
        img{width: 90% !important;}
    }
}