<!-- Presentation -->
<section class="presentation">
    <div class="shade" >
        <div class="content" fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="1rem"
            fxLayoutAlign.lt-md="center center">
            <h1>CONDAP</h1>
            <p>{{ 'homeWelcome' | translate }}</p>
            <button class="primary-btn" [routerLink]="'/' + language + '/portal'">Portal</button>
        </div>
    </div>
</section>

<!-- About -->
<section class="about container" fxLayout fxLayoutGap="2rem" fxLayout.lt-md="column">
    <img src="../../../assets/images/about.jpg" fxFlex="60" fxFlex.lt-md="100">
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="40" fxFlex.lt-md="100">
        <h2>{{ 'about the condominium' | translate}}</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
            in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
            in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>

<section class="gallery" fxLayout="column" fxLayoutAlign="none center">
    <div class="title-header" fxLayout="column" fxLayoutAlign="center center">
        <h2>{{ 'condominium gallery' | translate }}</h2>
    </div>
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
        <div class="img-list" fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="3rem"
            fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayoutGap.lt-md="1rem">
            <img src="../../../assets/images/properties/house4.jpg" alt="">
            <img src="../../../assets/images/properties/house6.jpg" alt="" class="main">
            <img src="../../../assets/images/properties/ap3.jpg" alt="">
        </div>
        <button class="primary-btn" [routerLink]="'/' + language + '/gallery'">
            {{ 'gallery' | translate }}
            <img src="../../../assets/images/icons/right.png" alt="">
        </button>
    </div>

</section>

<!-- Location -->
<section class="location container" fxLayout="row-reverse" fxLayoutGap="2rem"
    fxLayout.lt-md="column-reverse">
    <div class="map" fxFlex="70">
        <agm-map [zoom]="15" [latitude]="-0.171810" [longitude]="-78.484940">
            <agm-marker [latitude]="-0.171810" [longitude]="-78.484940"></agm-marker>
        </agm-map>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" fxFlex="30">
        <h2>{{ 'our location' | translate }}</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
            in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>