<section fxLayout="column" fxLayoutGap="3rem" *ngIf="!IsFetching">
    <div class="add-search" fxLayout="row" fxLayoutAlign="space-between center">
        <div *ngIf="currentUser.role.name != 'admin'"></div>
        <button class="float-btn" (click)="openPropertyModal('add')" *ngIf="currentUser.role.name == 'admin'">
            <img src="../../../../assets/images/icons/add_icon.png" alt="" class="icon">
            {{ "add new property" | translate }}
        </button>
        <input type="text" class="search" [(ngModel)]="search" autocomplete="off" placeholder='{{ "search all properties" | translate }}'>
    </div>

    <div fxLayout="column" class="table">
        <div class="result-row table-header" fxLayout fxLayoutAlign="space-between center" fxLayoutGap=".5rem">
            <p fxFlex="20" style="padding-left: 3.25rem;" (click)="sort('id')" fxLayout fxLayoutAlign="none center">
                {{ "property number" | translate }}
                <app-sort-indicator *ngIf="sortBy=='id'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="15" (click)="sort('type')" fxLayout fxLayoutAlign="none center">
                {{ "type" | translate }}
                <app-sort-indicator *ngIf="sortBy=='type'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="25" (click)="sort('landlord')" *ngIf="currentUser.role.name != 'landlord'" fxLayout fxLayoutAlign="none center">
                {{ "owner" | translate }}
                <app-sort-indicator *ngIf="sortBy=='landlord'" [isAscending]="asc"></app-sort-indicator>
            </p>
            <p fxFlex="25" *ngIf="currentUser.role.name == 'admin' || currentUser.role.name == 'landlord'">{{ "tenants" | translate }}</p>
            <p fxFlex="15" (click)="sort('status')" fxLayout fxLayoutAlign="none center">
                {{ "payment status" | translate }}
                <app-sort-indicator *ngIf="sortBy=='status'" [isAscending]="asc"></app-sort-indicator>
            </p>
        </div>

        <div class="list" fxLayout="column" fxLayoutGap=".5rem">
            <div class="result-row" *ngFor="let property of properties | filter:search | paginate: { itemsPerPage: 25, currentPage: page }" fxLayout fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0.5rem">
                <div fxLayout fxLayoutAlign="start center" fxLayoutGap="1rem" fxFlex="20">
                    <img *ngIf="property.type.name == 'uni-house'" src="../../../../assets/images/icons/properties/uni-house_icon.png" alt="" class="icon">
                    <img *ngIf="property.type.name == 'multi-house'" src="../../../../assets/images/icons/properties/multi-house_icon.png" alt="" class="icon">
                    <img *ngIf="property.type.name == 'apartment'" src="../../../../assets/images/icons/properties/apartment_icon.png" alt="" class="icon">
                    <img *ngIf="property.type.name == 'land'" src="../../../../assets/images/icons/properties/land_icon.png" alt="" class="icon">
                    <p class="selectable" (click)="openPropertyModal('view', property)">{{property.parcel_number.toString().concat(property.block) | titlecase}}</p>
                </div>
                <p fxFlex="15">{{property.type.name}}</p>

                <p *ngIf="property?.landlord?.length > 0" class="selectable" (click)="openUser(property.landlord[0].id)" fxFlex="25">{{property.landlord[0].first_name}} {{property.landlord[0].last_name}}</p>
                <p *ngIf="property?.landlord?.length == 0" fxFlex="25">-</p>
                
                <!-- show 1 tenant -->
                <div *ngIf="property?.tenants?.length == 1 && property?.occupants?.length == 0" fxLayout="column" fxFlex="25">
                    <p *ngFor="let tenant of property.tenants" class="selectable" (click)="openUser(tenant.id)">{{tenant.first_name}} {{tenant.last_name}}</p>
                </div>
                <!-- show list -->
                <div *ngIf="property?.tenants?.length == 1 && property?.occupants?.length > 0" fxLayout="column" fxFlex="25">
                    <p class="selectable" [matMenuTriggerFor]="list">Show all</p>
                    <mat-menu #list="matMenu">
                        <p class="selectable" mat-menu-item *ngFor="let tenant of property.tenants" (click)="openUser(tenant.id)">{{tenant.first_name}} {{tenant.last_name}}</p>
                        <mat-divider></mat-divider>
                        <p class="selectable" mat-menu-item *ngFor="let occ of property.occupants" (click)="openUser(occ.id)">{{occ.first_name}} {{occ.last_name}}</p>
                    </mat-menu>
                </div>
                <!-- show list -->
                <div *ngIf="property?.tenants?.length > 1" fxLayout="column" fxFlex="25">
                    <p class="selectable" [matMenuTriggerFor]="list">Show all</p>
                    <mat-menu #list="matMenu">
                        <p class="selectable" mat-menu-item *ngFor="let tenant of property.tenants" (click)="openUser(tenant.id)">{{tenant.first_name}} {{tenant.last_name}}</p>
                        <mat-divider></mat-divider>
                        <p class="selectable" mat-menu-item *ngFor="let occ of property.occupants" (click)="openUser(occ.id)">{{occ.first_name}} {{occ.last_name}}</p>
                    </mat-menu>
                </div>
                <!-- show empty -->
                <p *ngIf="property?.tenants?.length == 0" fxFlex="25">-</p>
                
                <div *ngIf="property.payment_status === 'clear'" class="status clear" fxFlex="15" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator clear"></div>
                    <p class="selectable" (click)="downloadReceipt(property)">{{ "receipt" | translate }}</p>
                </div>
                <div *ngIf="property.payment_status === 'new'" class="status clear" fxFlex="15" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator clear"></div>
                    <p>Clear</p>
                </div>
                <div *ngIf="property.payment_status === 'behind'" class="status missing" fxFlex="15" fxLayout fxLayoutAlign="none center" fxLayoutGap=".75rem">
                    <div class="indicator missing"></div>
                    <p>Behind</p>
                </div>
            </div>
            <pagination-controls fxLayoutAlign="end end" (pageChange)="page = $event" autoHide="true" class="pagination"></pagination-controls>
        </div>
    </div>
</section>

<section fxLayoutAlign="center center" *ngIf="IsFetching">
    <mat-spinner></mat-spinner>
</section>