@import '../../../../variables';

.notification{
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.34);
    
    .title{
        font-size: 1.5rem;
        color: #424242;
        padding: 1rem 1rem 1rem 3rem;
    }
    .content{
        padding: .5rem 2rem .5rem 3rem;
    }
    .date{
        color: #a1a1a1;
        font-weight: 600;
        padding: .5rem 0 1rem 3rem;
    }
    .indicator{
        width: .5rem;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 0;
        background-color: $main-color;
    }
}
.pointer{
    cursor: pointer;
}