<section class="container" fxLayout="column" fxLayoutGap="2rem">
    <h2>{{ 'notifications' | translate }}</h2>

    <div class="list" fxLayout="column" fxLayoutGap="1rem" *ngIf="!IsFetching && notifications.length > 0">
        <div class="notification" *ngFor="let item of notifications" (click)="selectNotification(item)" 
            [ngClass]="(selectedNotification != item) ? 'pointer' : null">
            <div class="title" fxLayout fxLayoutAlign="space-between center">
                {{item.title}}
                <mat-icon *ngIf="notificationExpanded && selectedNotification == item" (click)="close()" class="pointer">close</mat-icon>
            </div>
            <div class="content" *ngIf="notificationExpanded && selectedNotification == item" style="white-space: pre-wrap;">{{item.content}}</div>
            <div class="date">{{item.created_at | date : 'dd.MM.yyyy, HH:mm'}}</div>
            <div class="indicator" *ngIf="!item.seen_state"></div>
        </div>
    </div>
    <div *ngIf="!IsFetching && notifications.length == 0">{{ 'no notifications' | translate }}</div>
    <mat-spinner *ngIf="IsFetching"></mat-spinner>
</section>