.wrapper{
    min-height: 90vh;
}

.user-info{

    .profile-picture-holder{
        width: 25%;
        max-width: 25rem;
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        .profile-picture{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            border-radius: 50%;
            position: absolute;
        }

        .change-button{
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 2rem 1rem;
            background-color: #46464690;
            color: #fff;
            cursor: pointer;
            &:hover{background-color: #68686890;}
        }

        &::after{
            content: "";
            padding-bottom: 100%;
            display: block;
        }
    }
    .user-details{
        .name{
            font-size: 3rem;
        }
        .date, .email, .phone{
            font-size: 1.5rem;
        }
    }
}
.add-search{
    position: absolute;
    width: 100%;
}
.table{
    width: 100%;
    min-width: 1000px;
    margin-top: 6rem;
}
.table-header p{
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 1400px){
    .name{ font-size: 2rem !important; }
    .date, .email, .phone{ font-size: 1rem !important; }
}
@media screen and (max-width: 1150px){
    .profile-picture-holder { width: 40% !important; }
}
@media screen and (max-width: 1100px){
    .container { padding: 2rem 5%; }
}
@media screen and (max-width: 959px){
    .user-details{ text-align: center; }
}
@media screen and (max-width: 760px){
    .add-search{
        flex-direction: column !important;
        row-gap: 1rem;
    }
    .table{ margin-top: 10rem; }
}
@media screen and (max-width: 450px){
    .name{ font-size: 1.5rem !important; }
    .icon{ width: 1.5rem; }
}


// Child styling
.tabs{
    section{
        padding: 2rem 1rem;
        
        .float-btn{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: .5rem 1rem;
            font-size: 1rem;
            border: 0;
            color: #464646;
            cursor: pointer;
            box-shadow: 0 .25rem 4px -4px black;
            border-radius: .25rem;
        }
        .list{
            margin-top: 1rem;
            
            .result-row{
                padding: .5rem 1rem .5rem .25rem;
                border: 1px solid #b9b9b9;
                border-radius: .25rem;
                // min-width: 900px;
            }
        }
    }
}