<div class="wrapper container" fxLayout="column" fxLayoutGap="5rem">
    <section *ngIf="!IsFetching" class="user-info" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4rem" fxLayoutGap.lt-sm="2rem" fxLayout.lt-md="column">
        <div class="profile-picture-holder" (mouseover)="showUpdateProfilePicture=true" (mouseout)="showUpdateProfilePicture=false">
            <img *ngIf="!IsFetchingPicture" [src]="currentUser.picture" alt="Profile Picture" class="profile-picture">
            <img *ngIf="IsFetchingPicture" src="../../../assets/images/avatars/default_user.png" alt="Profile Picture" class="profile-picture">
            <div (click)="imageInput.click()" class="change-button" fxLayout fxLayoutAlign="center center" fxLayoutGap=".5rem">
                <mat-icon>edit</mat-icon>
                <p>Change</p>
                <input type="file" [hidden]="true" #imageInput (change)="uploadProfilePicture($event)">
            </div>
        </div>
        <div class="user-details" fxLayout="column" fxLayoutGap="3rem" fxLayoutGap.lt-sm="1rem" fxLayoutAlign.lt-md="start center">
            <p class="name">{{currentUser.first_name}} {{currentUser.last_name}}</p>
            <div fxLayout="column" fxLayoutGap=".5rem">
                <p class="date">{{currentUser.dob | date: 'dd.MM.yyyy'}}</p>
                <p class="email">{{currentUser.email}}</p>
                <p class="phone">{{currentUser.phone}}</p>
            </div>
            <p class="link" style="font-size: 1.1rem;" (click)="changePassword()">{{ "change password" | translate }}</p>
        </div>
    </section>
    
    <section class="action-sections" *ngIf="!IsFetching">
        <mat-tab-group animationDuration="0ms" class="tabs" selectedIndex="0">
            <mat-tab label='{{ "payments" | translate }}'>
                <app-payments [currentUser]="currentUser"></app-payments>
            </mat-tab>
            <mat-tab label='{{ "properties" | translate }}' *ngIf="currentUser.role.name != 'tenant' && currentUser.role.name != 'occupant'">
                <app-properties [currentUser]="currentUser"></app-properties>
            </mat-tab>
            <mat-tab label='{{ "users" | translate }}'>
                <app-users [currentUser]="currentUser"></app-users>
            </mat-tab>
            <mat-tab label='{{ "improvements" | translate }}'>
                <app-improvements></app-improvements>
            </mat-tab>
        </mat-tab-group>
    </section>
    
    <section fxLayoutAlign="center center" *ngIf="IsFetching">
        <mat-spinner></mat-spinner>
    </section>
</div>
