<section>
    <div class="banner image-holder">
        <img src="../.././../assets/images/construction.jpg" alt="">
    </div>
    <div class="container" fxLayout="column" fxLayoutGap="2rem">
        <div fxLayout="column" fxLayoutGap=".5rem">
            <h3>New Building in Construction</h3>
            <p>11.02.2021</p>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quis dolorem optio provident, assumenda excepturi accusamus ullam earum 
                commodi esse reprehenderit expedita porro dolores ab voluptatem quod eos similique quae molestiae quas magnam praesentium, illum deleniti 
                dolorum. Velit rerum dolores repellat architecto molestiae deleniti eos voluptates rem temporibus non animi repudiandae nam sequi tempora 
                quas, id nobis cupiditate ipsa deserunt provident quidem nisi harum? Necessitatibus, non tenetur. Iste magni magnam quisquam ea vero assumenda
                possimus iure eos, voluptatem voluptas cumque omnis, non impedit enim dolorem libero doloribus vitae, atque odio harum consectetur. Ipsa cumque 
                voluptatibus ipsum soluta nihil qui! Laudantium voluptatum non incidunt accusantium! Maiores assumenda totam repellendus voluptatibus facere expedita
                nostrum omnis nemo, eveniet nobis, ipsa accusamus voluptatum, dicta dolorum sint pariatur quaerat cupiditate nihil. Illo placeat rem provident 
                voluptatibus ut in tempora vel laborum repellat quidem nesciunt unde sit expedita, dolorum eius, beatae soluta, iure aut! Cupiditate, beatae dolorum. 
                Voluptatibus facilis expedita aspernatur delectus unde minima, placeat ipsa repudiandae perspiciatis provident fugiat qui repellendus nemo 
                perferendis ex, doloribus, maiores quisquam ratione quam accusantium blanditiis iste. Quas saepe aut, illum adipisci obcaecati est libero laborum 
                provident. Corrupti saepe harum architecto a nisi, assumenda, neque labore molestiae nostrum commodi alias, tenetur praesentium quia libero? 
                Corrupti tempore beatae totam magnam iste possimus animi veniam quae minima omnis! Maxime eveniet porro incidunt perferendis, ipsum nesciunt quis 
                officiis ipsam ut animi provident, vel illo tenetur minus molestiae maiores! Aliquid aspernatur maxime officia perferendis maiores accusantium
                laboriosam exercitationem culpa quibusdam aliquam doloremque quam, sapiente amet perspiciatis asperiores illum sed ratione. Asperiores est, et
                ullam recusandae soluta quia repudiandae exercitationem sequi dolore porro nihil repellendus. Et non dignissimos similique debitis dolore mollitia 
                dicta rem autem omnis id quaerat explicabo, esse ipsum, illo, velit architecto dolorem temporibus reprehenderit ea iste amet modi ab? Inventore, 
                harum quia!
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quis dolorem optio provident, assumenda excepturi accusamus ullam earum 
                commodi esse reprehenderit expedita porro dolores ab voluptatem quod eos similique quae molestiae quas magnam praesentium, illum deleniti 
                dolorum. Velit rerum dolores repellat architecto molestiae deleniti eos voluptates rem temporibus non animi repudiandae nam sequi tempora 
                quas, id nobis cupiditate ipsa deserunt provident quidem nisi harum? Necessitatibus, non tenetur. Iste magni magnam quisquam ea vero assumenda
                possimus iure eos, voluptatem voluptas cumque omnis, non impedit enim dolorem libero doloribus vitae, atque odio harum consectetur. Ipsa cumque 
                voluptatibus ipsum soluta nihil qui! Laudantium voluptatum non incidunt accusantium! Maiores assumenda totam repellendus voluptatibus facere expedita
                nostrum omnis nemo, eveniet nobis, ipsa accusamus voluptatum, dicta dolorum sint pariatur quaerat cupiditate nihil. Illo placeat rem provident 
                voluptatibus ut in tempora vel laborum repellat lore porro nihil repellendus. Et non dignissimos similique debitis dolore mollitia 
                dicta rem autem omnis id quaerat explicabo, esse ipsum, illo, velit architecto dolorem temporibus reprehenderit ea iste amet modi ab? Inventore, 
                harum quia!
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quis dolorem optio provident, assumenda excepturi accusamus ullam earum 
                commodi esse reprehenderit expedita porro dolores ab voluptatem quod eos similique quae molestiae quas magnam praesentium, illum deleniti 
                dolorum. Velit rerum dolores repellat architecto molestiae deleniti eos voluptates rem temporibus non animi repudiandae nam sequi tempora 
                quas, id nobis cupiditate ipsa deserunt provident quidem nisi harum? Necessitatibus, non tenetur. Iste magni magnam quisquam ea vero assumenda
                possimus iure eos, voluptatem voluptas cumque omnis, non impedit enim dolorem libero doloribus vitae, atque odio harum consectetur. Ipsa cumque 
                voluptatibus ipsum soluta nihil qui! Laudantium voluptatum non incidunt accusantium! Maiores assumenda totam repellendus voluptatibus facere expedita
                nostrum omnis nemo, eveniet nobis, ipsa accusamus voluptatum, dicta dolorum sint pariatur quaerat cupiditate nihil. Illo placeat rem provident 
                voluptatibus ut in tempora vel laborum repellat lore porro nihil repellendus. Et non dignissimos similique debitis dolore mollitia 
                dicta rem autem omnis id quaerat explicabo, esse ipsum, illo, velit architecto dolorem temporibus reprehenderit ea iste amet modi ab? Inventore, 
                harum quia! ipsum soluta nihil qui! Laudantium voluptatum non incidunt accusantium! Maiores assumenda totam repellendus voluptatibus facere expedita
                nostrum omnis nemo, eveniet nobis, ipsa accusamus voluptatum, dicta dolorum sint pariatur quaerat cupiditate nihil. Illo placeat rem provident 
                voluptatibus ut in tempora vel laborum repellat lore porro nihil repellendus. Et non dignissimos similique debitis dolore mollitia 
                dicta rem autem omnis id quaerat explicabo, esse ipsum, illo, velit architecto dolorem temporibus reprehenderit ea iste amet modi ab? Inventore, 
                harum quia!
            </p>
        </div>
    </div>
</section>