<footer fxLayout="column">
    <div class="footer-main" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
        <!-- Icons Social Media -->
        <div class="social-media-icons" fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="1rem">
            <img src="../../../assets/images/icons/facebook_icon.png" alt="" class="icon">
            <img src="../../../assets/images/icons/twitter_icon.png" alt="" class="icon">
            <img src="../../../assets/images/icons/whatsapp_icon.png" alt="" class="icon">
        </div>

        <div class="logo" fxLayout fxLayoutAlign="none center">
            <img class="logo" src="../../../assets/images/logo_light.svg" alt="CONDAP">
        </div>
        <nav>
            <ul fxLayout fxLayoutGap="2.5rem" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="1rem">
                <li><a href="">{{ 'about' | translate }}</a></li>
                <li><a href="">{{ 'contact' | translate }}</a></li>
                <li><a href="">{{ 'terms of service' | translate }}</a></li>
                <li><a href="">{{ 'privacy policy' | translate }}</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-copyright" fxLayout fxLayoutAlign="center center">
        <p>&copy; 2021 Condap. All rights Reserved.</p>
    </div>
</footer>