@import "../../../variables";

footer{
    width: 100%;
    // min-height: 25vh;
    color: $text-color-light;

    .footer-main{
        background-color: $footer-main;
        position: relative;
        padding: 3rem;

        .logo{            
            img{height: 4.5rem;}
            p{font-size: 2rem;}
        }
    
        nav{
            font-size: 1.1rem;
            font-weight: 300;
    
            ul{
                list-style: none;
    
                a{
                    text-decoration: none;
                    color: $text-color-light;
                    opacity: 0.6;
                }
            }
        }
    }
    .footer-copyright{
        background-color: $footer-copyright;
        padding: 2rem;
    }
}
.social-media-icons{
    height: 100%;
    position: absolute;
    left: 4%;

    img{
        width: 25%;
        cursor: pointer;
    }
}

@media screen and (max-width: 599px){
    nav{text-align: center;}
}