<section class="container" fxLayout="column" fxLayoutGap="3rem">
    <div fxLayout fxLayoutAlign="space-between center">
        <h2>{{ 'news' | translate }}</h2>
        <div fxLayout fxLayoutAlign="center center">
            <img src="../../../assets/images/icons/search_icon.png" alt="" class="icon search-icon">
            <input type="text" class="search" placeholder='{{ "search all news" | translate }}'>
        </div>
    </div>

    <div class="list" fxLayout="column" fxLayoutGap="3rem">
        <div class="post" fxLayout fxLayoutGap="3rem">
            <div class="image-holder" fxFlex="20">
                <img src="../../../assets/images/construction.jpg" alt="" [routerLink]="language + '/portal/news/selected'">
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="1.5rem" fxFlex="80">
                <div>
                    <h3>New Building in Construction</h3>
                    <p>11.02.2021</p>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reiciendis voluptatum, 
                        repellendus quos consequatur perferendis accusamus dolores tempora delectus eius odio omnis aliquid veniam similique. Tempora debitis animi 
                        ipsa, sequi cumque voluptas? Nulla ratione ex numquam tempora, iure porro exercitationem iusto, accusamus quisquam eos eum inventore cupiditate
                        aspernatur sit animi et nihil laborum cum pariatur placeat. Odit soluta, quo eveniet distinctio veritatis commodi nam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reici Lorem ipsum dolor 
                        sit amet
                        <a class="link" [routerLink]="language + '/portal/news/selected'">Read more...</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="post" fxLayout fxLayoutGap="3rem">
            <div class="image-holder" fxFlex="20">
                <img src="../../../assets/images/no-image.jpg" alt="" [routerLink]="language + '/portal/news/selected'">
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="1.5rem" fxFlex="80">
                <div>
                    <h3>New Building in Construction</h3>
                    <p>11.02.2021</p>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reiciendis voluptatum, 
                        repellendus quos consequatur perferendis accusamus dolores tempora delectus eius odio omnis aliquid veniam similique. Tempora debitis animi 
                        ipsa, sequi cumque voluptas? Nulla ratione ex numquam tempora, iure porro exercitationem iusto, accusamus quisquam eos eum inventore cupiditate
                        aspernatur sit animi et nihil laborum cum pariatur placeat. Odit soluta, quo eveniet distinctio veritatis commodi nam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reici Lorem ipsum dolor 
                        sit amet
                        <a class="link" [routerLink]="language + '/portal/news/selected'">Read more...</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="post" fxLayout fxLayoutGap="3rem">
            <div class="image-holder" fxFlex="20">
                <img src="../../../assets/images/construction.jpg" alt="" [routerLink]="language + '/portal/news/selected'">
            </div>
            <div class="content" fxLayout="column" fxLayoutGap="1.5rem" fxFlex="80">
                <div>
                    <h3>New Building in Construction</h3>
                    <p>11.02.2021</p>
                </div>
                <div class="body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reiciendis voluptatum, 
                        repellendus quos consequatur perferendis accusamus dolores tempora delectus eius odio omnis aliquid veniam similique. Tempora debitis animi 
                        ipsa, sequi cumque voluptas? Nulla ratione ex numquam tempora, iure porro exercitationem iusto, accusamus quisquam eos eum inventore cupiditate
                        aspernatur sit animi et nihil laborum cum pariatur placeat. Odit soluta, quo eveniet distinctio veritatis commodi nam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ducimus doloribus a labore exercitationem sunt reici Lorem ipsum dolor 
                        sit amet
                        <a class="link" [routerLink]="language + '/portal/news/selected'">Read more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>