@import "../../../variables";

.container{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10rem;

    .post{
        background-color: #ECE3E8;
        max-height: 400px;

        .image-holder{
            width: 60rem;
            @include ratio(4, 3);
            cursor: pointer;
        }
        .content{
            padding: 2rem 3rem 2rem 0;

            h3{font-size: 1.5rem;}
            .body{ 
                overflow: hidden; 
                text-align: justify;
                p{font-size: 1.2rem;}
            }
        }
    }
}