mat-icon{
    font-size: 2rem;
    height: 2rem;
    cursor: pointer;
}
select{
    width: 20rem;
}

.file{
    width: 100%;
    height: 75vh;
    padding: 0 10%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;

    .pdf{
        position: absolute;
        height: 99%;
        width: 100%;
        left: 1rem;
        right: 1rem;
    }
}

@media screen and (max-width: 700px){
    .header{
        flex-direction: column !important;
    }
}
@media screen and (max-width: 560px){
    .controls{
        flex-direction: column !important;
        row-gap: 1rem;
    }
}
@media screen and (max-width: 420px){
    select{
        width: 100%;
    }
}