<section class="container" fxLayout="column" fxLayoutGap="1rem">
    <div class="header" fxLayout fxLayoutAlign="space-between center">
        <h2>{{ 'norms' | translate }}</h2>
        <div class="controls" fxLayout fxLayoutGap="2rem">
            <div *ngIf="currentUser?.role?.name == 'admin'" fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem">
                <mat-icon (click)="openUploadNormsModal()">add</mat-icon>
                <mat-icon *ngIf="!fetchingFile && selectedNorm" (click)="deleteNorms()">delete</mat-icon>
            </div>
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="2rem">
                <mat-icon *ngIf="!fetchingFile && selectedNorm" fontSet="material-icons-outlined" (click)="downloadNorms()">file_download</mat-icon>
                <select (change)="changeSelected($event.target.value)">
                    <option [value]="norm.id" [selected]="selectedNorm.id == norm.id" *ngFor="let norm of norms">{{norm.title}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="file" fxLayout fxLayoutAlign="center center">
        <pdf-viewer *ngIf="!fetchingFile && selectedNorm" class="pdf" [src]="fileUrl"
            [render-text]="false"
            [original-size]="false">
        </pdf-viewer>
        <div *ngIf="!fetchingFile && !selectedNorm">{{ 'no norms' | translate }}</div>
        <mat-spinner *ngIf="fetchingFile"></mat-spinner>
    </div>

</section>