<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">

    <h3 fxLayoutAlign="center center">{{ 'upload new norms' | translate }}</h3>
    <form [formGroup]="normsForm" fxLayout="column" fxLayoutGap="1.5rem">
        <div>
            <label for="title">{{ "title" | translate }}</label>
            <input type="text" id="title" formControlName="title">
        </div>

        <div>
            <label for="file">{{ "upload file" | translate }}</label>
            <div (click)="uploader.click()" class="upload" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <div *ngIf="!fileToUpload" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../../assets/images/icons/uplaod_to_cloud_icon.png" alt="">
                    <p class="type-of-files">.PDF</p>
                </div>
                <p class="link">{{ "choose a file" | translate }}</p>
                <b *ngIf="fileToUpload">{{fileToUpload?.name}}</b>
            </div>
            <input id="file" type="file" [hidden]="true" formControlName="file" #uploader (change)="handleFile($event)">
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem" fxLayout.lt-sm="column-reverse">
            <button type="button" class="primary-btn cancel" fxFlex="50" (click)="close()">
                {{ "cancel" | translate }}
                <img src="../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button type="submit" class="primary-btn" fxFlex="50" (click)="uploadNorms()">
                {{ "upload" | translate }}
                <img src="../../../../assets/images/icons/upload_icon.png" alt="" class="icon">
            </button>
        </div>
    </form>
    
</div>