$text-color: #464646;
$text-color-light: #d5d5d5;
$main-color: #B40041;
$secondary-color: #af5576;
$footer-main: #262626;
$footer-copyright: #232323;

// Status colors
$status-clear: #025918;
$status-pending: #FF7700;
$status-missing: #B40041;
$active-status: #0063b4;

@mixin flex_all_center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin ratio($width, $height) {
    &::after{
        content: '';
        display: block;
        padding-bottom: ($height / $width * 100) * 1%;
    }
}