@import "./variables.scss";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
@import '~ngx-toastr/toastr';

// ** General styling **
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active, &:focus{
        outline: none;
    }
}
body,html{
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
}
app-root{
    width: 100%;
}
h1,p{
    margin: 0;
}
h4{
    font-size: 35px;
    font-weight: 400;
}
h2{
    color: $main-color;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
input,textarea, select, .upload{
    width: 100%;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: 1px solid rgb(202, 202, 202);
    // resize: none;
    font-family: 'Open Sans';
}
select:focus{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}


// ** Custom classes **
.container{
    width: 100%;
    padding: 2% 10%;
    min-height: 75vh;
}

.primary-btn{
    max-width: 250px;
    border: none;
    background-color: $main-color;
    color: #fff;
    padding: 15px 50px;
    font-size: 1.2rem;
    @include flex_all_center(row);
    cursor: pointer;

    &:hover{
        background-color: $secondary-color;
    }
    img{
        width: 30px;
        margin-left: 20px;
    }
}

.link{
    text-decoration: none;
    color: $main-color;
    cursor: pointer;
}
.text-color{ color: $text-color; }
.icon{
    width: 2rem;
}
.icon-expand{
    width: 1rem;
}
.search{
    max-width: 25rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #a8a8a8;
}
.modal-wrapper{
    padding: 2rem;
    h3{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .upload{
        min-height: 10rem;
        padding-bottom: 1rem;
        border-style: dashed;
        cursor: pointer;
        img{ max-width: 5rem; }
    }
    .cancel{
        background-color: #777;
        &:hover{ background-color: #888; }
    }
    .approve{
        background-color: $status-clear;
        &:hover{ background-color: #15752d; }
    }
    .edit{
        background-color: $status-pending;
        &:hover{ background-color: rgb(255, 165, 104); }
    }
    .status-change{
        background-color: $active-status;
        &:hover{ background-color: #277bc0 }
    }
}

.status{
    font-weight: 500;

    .indicator{
        width: .5rem;
        height: .5rem;
        position: relative;
        border-radius: 50%;
    }
    .clear{ background-color: $status-clear; }
    .pending{ background-color: $status-pending; }
    .missing{ background-color: $status-missing; }
}
.clear{ color: $status-clear; }
.pending{ color: $status-pending; }
.missing{ color: $status-missing; }

.selectable{
    cursor: pointer;
    &:hover{ text-decoration: underline; }
}

.image-holder{
    position: relative;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }
}


// ** Mat styling **
.mat-ink-bar {
    background-color: $main-color !important;
    height: 3px !important;
}
.mat-tab-label{
    font-size: 1.2rem;
}
.mat-badge-content {
    background: $main-color;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $main-color;
    opacity: .3;
}
.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.25);
}



// ** Other styling **
.pagination .ngx-pagination .current {
    background: $main-color;
}
.toast-top-center{
    top: 11%;
}


@media screen and (max-width: 959px){
    .container{
        padding: 2rem 5% !important;
        min-height: calc(100vh - 4rem) !important;
    }
}