<div mat-dialog-content class="modal-wrapper" fxLayout="column" fxLayoutGap="2.5rem">

    <h3 fxLayoutAlign="center center">{{ 'broadcast new notification' | translate }}</h3>
    <form [formGroup]="createNotificationForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1.5rem">
        <div>
            <label for="roles">{{ 'target roles' | translate }}:</label>
            <section fxLayout fxLayoutGap="1.5rem" fxLayout.lt-sm="column" fxLayoutGap.lt-sm=".75rem">
                <mat-checkbox 
                    *ngFor="let role of roles" 
                    (change)="onCheckChange($event, role.id)">
                    {{role.name | titlecase}}
                </mat-checkbox>
            </section>
        </div>
        <div>
            <label for="title">{{ 'title' | translate }}:</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div>
            <label for="content">{{ 'content' | translate }}:</label>
            <textarea id="content" cols="30" rows="10" formControlName="content"></textarea>
        </div>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
            <button type="button" class="primary-btn cancel" fxFlex="50" (click)="close()">
                {{ 'cancel' | translate }}
                <img src="../../../../../assets/images/icons/cancel_icon.png" alt="" class="icon">
            </button>
            <button type="submit" class="primary-btn" fxFlex="50">
                {{ 'send' | translate }}
                <img src="../../../../../assets/images/icons/send.png" alt="" class="icon">
            </button>
        </div>
    </form>
    
</div>