<section class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="3rem">
    <h2>{{ 'login' | translate }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="column">
            <label for="email">Email:</label>
            <input id="email" type="text" formControlName="email" >
        </div>
        <div fxLayout="column">
            <label for="password">{{ 'password' | translate }}:</label>
            <input id="password" type="password" formControlName="password" >
        </div>
        <button class="primary-btn" fxFlexAlign="center" type="submit">
            {{ 'login' | translate }}
            <img src="../../../assets/images/icons/login.png" alt="">
        </button>
    </form>
</section>
